<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TestingSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>Controller</servlet-name>
    <servlet-class>ua.kpi.testingsystem.web.controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/controller</url-pattern>
    <url-pattern>/login</url-pattern>
    <url-pattern>/logout</url-pattern>
    <url-pattern>/tutor</url-pattern>
    <url-pattern>/student</url-pattern>
    <url-pattern>/createTest</url-pattern>
    <url-pattern>/deleteTest</url-pattern>
    <url-pattern>/editTest</url-pattern>
    <url-pattern>/addQuestion</url-pattern>
    <url-pattern>/createQuestion</url-pattern>
    <url-pattern>/deleteQuestion</url-pattern>
    <url-pattern>/startTest</url-pattern>
    <url-pattern>/doTest</url-pattern>
    <url-pattern>/changeLanguage</url-pattern>
    <url-pattern>/enableTest</url-pattern>
    <url-pattern>/disableTest</url-pattern>
    <url-pattern>/noCommand</url-pattern>
    <url-pattern>/serverError</url-pattern>
  </servlet-mapping>
  <error-page>
        <error-code>404</error-code>
        <location>/noCommand</location>
  </error-page>
  <error-page>
        <error-code>500</error-code>
        <location>/serverError</location>
  </error-page>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>ua.kpi.testingsystem.web.filters.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>contentType</param-name>
      <param-value>text/html; charset=UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LanguageFilter</display-name>
    <filter-name>LanguageFilter</filter-name>
    <filter-class>ua.kpi.testingsystem.web.filters.LanguageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LanguageFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>ua.kpi.testingsystem.web.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>